@model LoraStore.Models.Sensor

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Sensor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SensorId" />
            <div class="form-group">
                <label asp-for="SensorName" class="control-label"></label>
                <input asp-for="SensorName" class="form-control" />
                <span asp-validation-for="SensorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SensorPassword" class="control-label"></label>
                <input asp-for="SensorPassword" class="form-control" />
                <span asp-validation-for="SensorPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SensorDescription" class="control-label"></label>
                <input asp-for="SensorDescription" class="form-control" />
                <span asp-validation-for="SensorDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
