@model WebApplication2.Models.Nodes

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Nodes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NodeID" />
            <div class="form-group">
                <label asp-for="NodeName" class="control-label"></label>
                <input asp-for="NodeName" class="form-control" />
                <span asp-validation-for="NodeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localization" class="control-label"></label>
                <input asp-for="Localization" class="form-control" />
                <span asp-validation-for="Localization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NodePassword" class="control-label"></label>
                <input asp-for="NodePassword" class="form-control" />
                <span asp-validation-for="NodePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
